extends template.pug
block content
  div#no-humor
    div.contain-no-humor
      h1 404
      p.text
        a(href="#humor")#humor-link Humor
        |  not found.
  div(style="display: none;")#humor
    div(style="display:none;").sandals#sandals
      .text-box
        img(src=require("@/images/sans.svg")).icon
        p.message-content#sandals-message * Enable javascript kid

    div#board
      include images/404-letters.svg
      //- img(inline, src=require("@/images/404-letters.svg"))
      img(src=require("@/images/justdoof.svg")).momo#momo-1
      img(src=require("@/images/justdoof.svg")).momo#momo-2
      img(src=require("@/images/justdoof.svg")).momo#momo-3
      img(src=require("@/images/justdoof.svg")).momo#momo-4
      img(src=require("@/images/justdoof.svg")).momo#momo-5
      img(src=require("@/images/justdoof.svg")).momo#momo-6
    div#doof-art
      .col-info
        h1 404, Inator Not Found
        p.text The requested inator was not found
      .col-doof
        img(src=require("@/images/justdoof.svg")).doof


